@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
body {
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
}

.navbar {
  text-align: center;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar img {
  width: 64px;
}

.navbar span a {
  margin: 15px;
  color: #fff;
  font-size: larger;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 5px solid #000;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.navbar span a:hover {
  border-bottom: 5px solid #fff;
}

.main {
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
}

.main h1 {
  color: #000;
  font-size: 128px;
  font-weight: 1000;
  margin-bottom: 0;
}

.main p {
  padding: 10px 20px 10px 20px;
  display: inline-block;
  background: #000;
  color: #fff;
  font-size: 24px;
  font-weight: 1000;
}

.main a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  background: #fff;
  border: 5px solid #000;
  color: #000;
  margin-bottom: 100px;
  font-size: 32px;
  font-weight: 400;
  padding: 10px 20px 10px 20px;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.main a:hover {
  background: #000;
  color: #fff;
}

.features {
  text-align: center;
  margin: 0 auto;
  background-color: #000;
  padding: 10px;
}

.features h1 {
  background: linear-gradient(45deg, #ff2668 0%, #894eff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 1000;
}

.features div {
  text-align: left;
  margin: 0 auto;
  width: 50%;
  margin-bottom: 30px;
}

.features div p {
  font-size: 18px;
  font-weight: 700;
  color: #eee;
  margin: 5px;
}

.features div p::before {
  color: #ff26ac;
  content: "> ";
}

.example {
  background: #fff;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.example h1 {
  color: #000;
  font-size: 64px;
  font-weight: 1000;
}

.example .codes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.example .codes .code {
  margin: 0 auto;
}

.example .codes .code h1 {
  color: #000;
  font-size: 32px;
  font-weight: 1000;
  margin-bottom: 0;
}

.example .codes .code .code-block {
  text-align: left;
  padding: 20px;
  background: #000;
  color: #eee;
}

.footer {
  background: #000;
  padding: 5px;
  text-align: center;
}

.footer p {
  color: #fff;
}

.footer p span {
  background: linear-gradient(45deg, #ff2668 0%, #894eff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ff26ac #000;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ff26ac;
  border: 3px solid #000;
}
/*# sourceMappingURL=style.css.map */