@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

$kuu-gradient: linear-gradient(
    45deg,
    #ff2668 0%,
    #894eff 100%
);

body {
  font-family: 'Noto Sans', sans-serif;
  margin: auto;
}

.navbar {
  text-align: center;
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
      width: 64px;
  }

  span {
      a {
        margin: 15px;
        color: #fff;
        font-size: larger;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 5px solid #000;
        transition: 250ms;

        &:hover {
            border-bottom: 5px solid #fff;
        }
      }
  }
}

.main {
    text-align: center;
    margin: 0 auto;
    background-color: #fff;

    h1 {
        color: #000;
        font-size: 128px;
        font-weight: 1000;
        margin-bottom: 0;
    }

    p {
        padding: 10px 20px 10px 20px;
        display: inline-block;
        background: #000;
        color: #fff;
        font-size: 24px;
        font-weight: 1000;
    }

    a {
        display: inline-block;
        margin: 10px;
        text-decoration: none;
        background: #fff;
        border: 5px solid #000;
        color: #000;
        margin-bottom: 100px;
        font-size: 32px;
        font-weight: 400;
        padding: 10px 20px 10px 20px;
        transition: 250ms;

        &:hover {
            background: #000;
            color: #fff;
        }
    }
}

.features {
    text-align: center;
    margin: 0 auto;
    background-color: #000;
    padding: 10px;

    h1 {
        background: $kuu-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        font-size: 48px;
        font-weight: 1000;
    }

    div {
        text-align: left;
        margin: 0 auto;
        width: 50%;
        margin-bottom: 30px;

        p {
            font-size: 18px;
            font-weight: 700;
            color: #eee;
            margin: 5px;
    
            &::before {
                color: #ff26ac;
                content: "> ";
            }
        }
    }
}

.example {
    background: #fff;
    padding: 10px;
    margin: 0 auto;
    text-align: center;

    h1 {
        color: #000;
        font-size: 64px;
        font-weight: 1000;
    }

    .codes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 40px;

        .code {
            margin: 0 auto;

            h1 {
                color: #000;
                font-size: 32px;
                font-weight: 1000;
                margin-bottom: 0;
            }

            .code-block {
                text-align: left;
                padding: 20px;
                background: #000;
                color: #eee;
            }
        }
    }
}

.footer {
    background: #000;
    padding: 5px;
    text-align: center;

    p {
        color: #fff;

        span {
            background: $kuu-gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ff26ac #000;
  }
  
  *::-webkit-scrollbar {
    width: 14px;
  }
  
  *::-webkit-scrollbar-track {
    background: #000;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #ff26ac;
    border: 3px solid #000;
  }
  